<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.4.0.js"></script>
<script src="js/groovymusic.js"></script>

<style>
.table-hover tr {
	cursor: pointer;
}
</style>
</head>

<body>
	<div class="container" ng-app="groovymusic" ng-controller="musicaController">
	
		<h3>Groovymusic</h3>
		
		<div ng-if="status.tipo == 'sucesso'" class="alert alert-success">{{ status.mensagem }}</div>
		<div ng-if="status.tipo == 'erro'" class="alert alert-danger">{{ status.mensagem }}</div>
		
		<form class="form-group" role="search">
			<label class="col-lg-1 col-form-label">Filtros</label>
			<label for="nomeMusicaFiltro" class="col-lg-1 col-form-label">Nome:</label>
			<div class="col-lg-3"> 
				<input id="nomeMusicaFiltro"
					type="text" 
					ng-model="musicaFiltro.nome"
					value="{{ musicaFiltro.nome }}" 
					class="form-control" />
			</div>
			<label for="albumMusicaFiltro" class="col-lg-1 col-form-label">Álbum:</label> 
			<div class="col-lg-3">
				<select id="albumMusicaFiltro" 
					class="form-control"
					ng-model="musicaFiltro.albumId"
					ng-options="album.id as album.nome for album in albums">
					<option value="">[Todos]</option>
				</select>
			</div>
			<button class="btn btn-success" ng-click="filtrarMusicas(musicaFiltro)" class="col-lg-1">Filtrar</button>
			<button class="btn" ng-click="abrirModalEditarMusica({})" class="col-lg-1">Nova música</button>
		</form>

		<table class="table table-hover">
			<tr>
				<th>Música</th>
				<th>Álbum</th>
				<th>Artista</th>
				<th>Editar</th>
				<th>Excluir</th>
			</tr>
			<tr ng-repeat="musica in musicas">
				<td>{{ musica.nome }}</td>
				<td>{{ musica.album.nome }}</td>
				<td>{{ musica.album.artista.nome }}</td>
				<td><a href="#" class="glyphicon glyphicon-pencil" ng-click="abrirModalEditarMusica(musica)"></a></td>
				<td><a href="#" class="glyphicon glyphicon-remove" ng-click="excluirMusica(musica)"></a></td>
			</tr>
		</table>
		
	</div>
</body>
</html>